{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/plugin-proposal-private-methods",
      "@babel/plugin-proposal-class-properties"
    ]
  }
// ensures babel transpiles modern javascript features to a compatible version of jest
  